@import "reset";

.header {
  background-color: #fff;
  height: 64px;
  border-bottom: 1px solid #c7c7c7;

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25.75px 0 35px;
    height: 64px;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;

  .nav-filter {
    border: 1px solid #666666;

    .button-filter {
      background-color: transparent;
      border: none;
    }
  }

  .filter-panel {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: none;
    flex-direction: column;
    z-index: 1000;
    padding: 1rem;
    overflow-y: auto;

    &.open {
      display: flex;
    }
  }
}
