@import "reset";
@import "variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body.panel-open {
  overflow: hidden;
}

.header {
  background-color: $white;
  height: 64px;

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25.75px 0 35px;
    height: 64px;
    max-width: 1180px;
    margin: 0 auto;

    @media screen and (min-width: 1024px) {
      padding: 0;
    }
  }
}

.container-mobile {
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.container-desktop {
  display: none;

  @media screen and (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
    max-width: 1180px;
    margin: 40px auto 54px;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: $light-gray;
}

.page-title {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: $dark-gray;
  margin: 24px 0 12px;
  text-align: center;

  @media screen and (min-width: 1024px) {
    text-align: left;
    margin: 0;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;

  @media screen and (min-width: 1024px) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0;
  }

  .nav-filter {
    border: 1px solid $gray;
    width: 343px;
    height: 49px;
    display: flex;
    justify-content: space-between;

    .button-filter {
      background-color: transparent;
      border: none;
      width: 100%;
      font-family: $font-primary;
      font-weight: 400;
      font-size: 24px;
      line-height: 100%;
      color: $gray;
    }
  }

  .filter-panel {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: $white;
    display: none;
    flex-direction: column;
    z-index: 1000;
    overflow-y: auto;

    .close-button {
      background: none;
      border: none;
      cursor: pointer;
      position: absolute;
      top: 16px;
      right: 16px;
      height: 16px;
      width: 16px;

      .close-icon {
        width: 18px;
        height: 18px;
      }
    }

    &__content {
      padding-bottom: 88px;
    }

    &__title {
      padding: 16px;
      border-bottom: 1px solid $gray;
      font-family: $font-primary;
      font-weight: 400;
      font-size: 28px;
      line-height: 100%;
      letter-spacing: 0%;
      text-transform: uppercase;
      color: $gray;
    }

    &.open {
      display: flex;
    }

    .panel-section {
      display: none;

      &.active {
        display: block;
      }

      &.sort-section {
        .sort-options {
          width: 100%;
          padding: 30px 16px 0;
          display: flex;
          flex-direction: column;
          row-gap: 30px;

          .sort-button-option {
            background-color: transparent;
            border: none;
            cursor: pointer;
            text-align: left;
            font-family: $font-primary;
            font-weight: 400;
            font-size: 22px;
            line-height: 100%;
            color: $black;
          }
        }
      }
    }
  }
}

// Filter
.filter-section {
  .filter-group {
    padding: 24px 16px 0;

    &:first-child {
      @media screen and (min-width: 1024px) {
        padding-top: 0;
      }
    }

    @media screen and (min-width: 1024px) {
      padding-inline: 0;
    }

    .filter-toggle {
      width: 100%;
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: $font-primary;
      font-weight: 400;
      font-size: 24px;
      color: $gray;
      padding: 0;
    }

    .filter-title {
      font-family: $font-primary;
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      text-transform: uppercase;
      color: $dark-gray;
    }

    .filter-options {
      flex-direction: column;
      row-gap: 16px;
      padding-top: 20px;

      @media screen and (min-width: 1024px) {
        row-gap: 10px;
        padding-top: 14px;
      }

      .custom-checkbox {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        position: relative;
        font-family: $font-primary;
        font-size: 14px;
        color: $black;
        min-width: 156px;

        input[type="checkbox"] {
          position: absolute;
          opacity: 0;
          width: 0;
          height: 0;

          &:checked + .checkmark::after {
            content: "";
            position: absolute;
            top: 2px;
            left: 2px;
            width: $check-inner-size;
            height: $check-inner-size;
            background-color: $orange;
          }
        }

        .checkmark {
          width: $checkbox-size;
          height: $checkbox-size;
          border: 1px solid rgba($black, 0.5);
          box-sizing: border-box;
          position: relative;
        }
      }

      &.size-options {
        grid-template-columns: repeat(4, 1fr);
        gap: 8px;
        width: fit-content;

        @media screen and (min-width: 1024px) {
          padding-top: 24px;
        }
      }

      .size-box {
        width: 32px;
        height: 32px;
        border: 1px solid $black-50;
        background-color: transparent;
        border-radius: 0;

        font-family: $font-primary;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        text-transform: uppercase;
        color: $black-50;

        &.selected {
          border-color: $orange;
          color: $black;
        }
      }
    }
  }

  .filter-actions {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    z-index: 1001;

    .filter-button-option {
      flex: 1;
      padding: 12px 0;
      font-size: 16px;
      cursor: pointer;
      text-transform: uppercase;

      &.btn-primary {
        border: none;
        background-color: $orange;
        color: $white;
      }

      &.btn-secondary {
        border: 1px solid $gray;
        background-color: transparent;
        color: $gray;
      }
    }
  }
}

// Sort Select
.custom-select-wrapper {
  width: 142px;
  height: 42px;
  position: relative;
  margin-top: 13px;

  .custom-select {
    width: 100%;
    height: 100%;
    padding: 0 30px 0 10px;
    font-size: 14px;
    color: $black;
    border: 1px solid $gray;
    border-radius: 0;
    background-color: $white;
    font-family: $font-primary;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;

    background: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 8L11 1.00935' stroke='%23666666' stroke-linecap='round'/%3E%3C/svg%3E")
      no-repeat right 10px center;
    background-size: 12px 9px;

    transition: border 0.2s ease;

    &:hover,
    &:focus {
      border: 1px solid $light-gray;
      outline: none;
    }

    option {
      color: $black;
      border-radius: 0;
      -webkit-border-radius: 0px !important;
      -moz-border-radius: 0px !important;
      border-radius: 0px !important;

      &:checked,
      &[selected] {
        background-color: $orange;
        color: $white;
      }
    }
  }
}

// Product List
.product-gallery {
  margin: 34px 16px 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1024px) {
    margin-top: 0;
  }

  .product-card {
    width: 100%;
    max-width: 162px;
    height: 100%;
    max-height: 357px;

    @media (min-width: 768px) {
      max-width: 195px;
      max-height: 426px;
    }

    .product-image {
      width: 100%;
    }

    .product-name {
      font-family: $font-primary;
      font-weight: 400;
      font-size: 14px;
      text-align: center;
      line-height: 100%;
      text-transform: uppercase;
      color: $black;
      margin-top: 8px;
    }

    .product-price {
      font-family: $font-primary;
      font-weight: 700;
      font-size: 14px;
      text-align: center;
      line-height: 100%;
      color: $black;
      margin-top: 8px;
    }

    .product-installment {
      font-family: $font-primary;
      font-weight: 400;
      font-size: 14px;
      text-align: center;
      line-height: 100%;
      color: $gray;
    }
  }
}

.add-to-cart-button {
  font-family: $font-primary;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  background-color: $black;
  color: $white;
  height: 33px;
  width: 100%;
  border: none;
  margin-top: 11px;
  cursor: pointer;
}

.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1024px) {
    max-width: 976px;
    width: 100%;
  }
}

.load-more {
  width: 175px;
  height: 35px;
  padding: 8px 31px;
  background-color: $orange;
  border: none;
  color: $white;
  font-family: $font-primary;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  margin: 0 auto 42px;

  @media screen and (min-width: 768px) {
    margin-bottom: 35px;
  }
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33px;
  background-color: $black;
  font-family: $font-primary;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  color: $white;
  text-align: center;
}
