@import "reset";
@import "variables";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body.panel-open {
  overflow: hidden;
}

.header {
  background-color: $white;
  height: 64px;

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-header-mobile;
    height: 64px;
    max-width: 1180px;
    margin: $margin-horizontal-auto;

    @media screen and (min-width: $bp-desktop) {
      padding: 0;
    }

    .logo {
      height: 25px;
    }

    .bag-button {
      background: none;
      border: none;
      cursor: pointer;
      background-color: transparent;
      position: relative;

      .cart-badge {
        position: absolute;
        background-color: $orange;
        width: 12px;
        height: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 3px;
        right: 1px;
        color: $white;
        font-size: $font-xs;
        border-radius: $border-radius-circle;
      }
    }
  }
}

.container-mobile {
  @media screen and (min-width: $bp-desktop) {
    display: none;
  }
}

.container-desktop {
  display: none;

  @media screen and (min-width: $bp-desktop) {
    display: flex;
    justify-content: space-between;
    max-width: 1180px;
    margin: 40px auto 54px;
    width: 100%;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: $light-gray;
  flex-shrink: 0;
}

.page-title {
  font-family: $font-primary;
  font-weight: $font-regular;
  font-size: $font-xxxl;
  line-height: $line-height-base;
  color: $dark-gray;
  margin: 24px 0 12px;
  text-align: center;

  @media screen and (min-width: $bp-desktop) {
    text-align: left;
    margin: 0;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $padding-horizontal-mobile;
  flex: 1;

  @media screen and (min-width: $bp-desktop) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1180px;
    margin: $margin-horizontal-auto;
    padding: 0;
    width: 100%;
  }

  .nav-filter {
    border: 1px solid $gray;
    width: 343px;
    height: 49px;
    display: flex;
    justify-content: space-between;

    .button-filter {
      background-color: transparent;
      border: none;
      width: 100%;
      font-family: $font-primary;
      font-weight: $font-regular;
      font-size: $font-xl;
      line-height: $line-height-base;
      color: $gray;

      &.border-right {
        border-right: 1px solid $gray;
      }
    }
  }

  .filter-panel {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: $white;
    display: none;
    flex-direction: column;
    z-index: $z-overlay;
    overflow-y: auto;

    .close-button {
      background: none;
      border: none;
      cursor: pointer;
      position: absolute;
      top: 16px;
      right: 16px;
      height: 16px;
      width: 16px;

      .close-icon {
        width: 18px;
        height: 18px;
      }
    }

    &__content {
      padding-bottom: $padding-bottom-panel;
    }

    &__title {
      padding: $padding-base;
      border-bottom: 1px solid $gray;
      font-family: $font-primary;
      font-weight: $font-regular;
      font-size: $font-xxl;
      line-height: $line-height-base;
      letter-spacing: 0%;
      text-transform: uppercase;
      color: $gray;
    }

    &.open {
      display: flex;

      @media screen and (min-width: $bp-desktop) {
        display: none;
      }
    }

    .panel-section {
      display: none;

      &.active {
        display: block;
      }

      &.sort-section {
        .sort-options {
          width: 100%;
          padding: $padding-sort-options;
          display: flex;
          flex-direction: column;
          row-gap: $gap-large;

          .sort-button-option {
            background-color: transparent;
            border: none;
            cursor: pointer;
            text-align: left;
            font-family: $font-primary;
            font-weight: $font-regular;
            font-size: $font-lg;
            line-height: $line-height-base;
            color: $black;

            &.selected {
              color: $orange;
            }
          }
        }
      }
    }
  }
}

// Filter
.filter-section {
  .filter-group {
    padding: 24px 16px 0;

    &:first-child {
      @media screen and (min-width: $bp-desktop) {
        padding-top: 0;
      }
    }

    @media screen and (min-width: $bp-desktop) {
      padding-inline: 0;
    }

    .filter-toggle {
      width: 100%;
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: $font-primary;
      font-weight: $font-regular;
      font-size: $font-xl;
      color: $gray;
      padding: 0;
    }

    .filter-title {
      font-family: $font-primary;
      font-weight: $font-regular;
      font-size: $font-md;
      line-height: $line-height-base;
      text-transform: uppercase;
      color: $dark-gray;
    }

    .filter-options {
      flex-direction: column;
      row-gap: $gap-sm;
      padding-top: 20px;

      @media screen and (min-width: $bp-desktop) {
        row-gap: $gap-small;
        padding-top: 14px;
      }

      .custom-checkbox {
        display: flex;
        align-items: center;
        gap: $gap-xs;
        cursor: pointer;
        position: relative;
        font-family: $font-primary;
        font-size: $font-sm;
        color: $black;
        min-width: 156px;

        input[type="checkbox"] {
          position: absolute;
          opacity: 0;
          width: 0;
          height: 0;

          &:checked + .checkmark::after {
            content: "";
            position: absolute;
            top: 2px;
            left: 2px;
            width: $check-inner-size;
            height: $check-inner-size;
            background-color: $orange;
          }
        }

        .checkmark {
          width: $checkbox-size;
          height: $checkbox-size;
          border: 1px solid $black-50;
          box-sizing: border-box;
          position: relative;
        }
      }

      &.size-options {
        grid-template-columns: repeat(4, 1fr);
        gap: $gap-xs;
        width: fit-content;

        @media screen and (min-width: $bp-desktop) {
          padding-top: 24px;
        }
      }

      .size-box {
        width: 32px;
        height: 32px;
        border: 1px solid $black-50;
        background-color: transparent;
        border-radius: $border-radius-none;

        font-family: $font-primary;
        font-weight: $font-regular;
        font-size: $font-md;
        line-height: $line-height-base;
        text-transform: uppercase;
        color: $black-50;

        &.selected {
          border-color: $orange;
          color: $black;
        }
      }
    }
  }

  .filter-actions {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: $padding-base;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    gap: $gap-xs;
    z-index: $z-header;

    .filter-button-option {
      flex: 1;
      padding: 12px 0;
      font-size: $font-md;
      cursor: pointer;
      text-transform: uppercase;

      &.btn-primary {
        border: none;
        background-color: $orange;
        color: $white;
      }

      &.btn-secondary {
        border: 1px solid $gray;
        background-color: transparent;
        color: $gray;
      }
    }
  }
}

// Sort Select
.custom-select-wrapper {
  width: 142px;
  height: 42px;
  position: relative;
  margin-top: 13px;

  .custom-select {
    width: 100%;
    height: 100%;
    padding: 0 30px 0 10px;
    font-size: $font-sm;
    color: $black;
    border: 1px solid $gray;
    border-radius: $border-radius-none;
    background-color: $white;
    font-family: $font-primary;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: $border-radius-none;

    background: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 8L11 1.00935' stroke='%23666666' stroke-linecap='round'/%3E%3C/svg%3E")
      no-repeat right 10px center;
    background-size: 12px 9px;

    transition: border 0.2s ease;

    &:hover,
    &:focus {
      border: 1px solid $light-gray;
      outline: none;
    }

    option {
      color: $black;
      border-radius: $border-radius-none;
      -webkit-border-radius: $border-radius-none !important;
      -moz-border-radius: $border-radius-none !important;
      border-radius: $border-radius-none !important;

      &:checked,
      &[selected] {
        background-color: $orange;
        color: $white;

        &:hover {
          background-color: $orange;
          color: $white;
        }
      }
    }
  }
}

// Product List
.product-gallery {
  margin: $margin-product-list-mobile;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $gap-m;

  @media (min-width: $bp-desktop) {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 0;
  }

  .product-card {
    width: 100%;
    max-width: 162px;
    height: 357px;
    position: relative;

    @media (min-width: $bp-desktop) {
      max-width: 195px;
      height: 426px;
    }

    .product-image {
      width: 100%;
      height: 242px;

      @media screen and (min-width: $bp-desktop) {
        height: 293px;
      }
    }

    .product-name {
      font-family: $font-primary;
      font-weight: $font-regular;
      font-size: $font-sm;
      text-align: center;
      line-height: $line-height-base;
      text-transform: uppercase;
      color: $black;
      margin-top: $margin-sm;

      @media screen and (min-width: $bp-desktop) {
        margin-top: $margin-top-sm;
      }
    }

    .product-price {
      font-family: $font-primary;
      font-weight: $font-bold;
      font-size: $font-sm;
      text-align: center;
      line-height: $line-height-base;
      color: $black;
      margin-top: 4px;

      @media screen and (min-width: $bp-desktop) {
        margin-top: $margin-top-sm;
      }
    }

    .product-installment {
      font-family: $font-primary;
      font-weight: $font-regular;
      font-size: $font-sm;
      text-align: center;
      line-height: $line-height-base;
      color: $gray;
    }
  }
}

.add-to-cart-button {
  font-family: $font-primary;
  font-weight: $font-bold;
  font-size: $font-sm;
  line-height: $line-height-base;
  text-transform: uppercase;
  background-color: $black;
  color: $white;
  height: 33px;
  width: 100%;
  border: none;
  margin-top: $margin-top-xs;
  cursor: pointer;
  position: absolute;
  bottom: 0;
}

.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $bp-desktop) {
    max-width: 976px;
    width: 100%;
  }
}

.load-more {
  width: 175px;
  height: 35px;
  padding: $padding-button;
  background-color: $orange;
  border: none;
  color: $white;
  font-family: $font-primary;
  font-weight: $font-bold;
  font-size: $font-sm;
  line-height: $line-height-base;
  text-transform: uppercase;
  margin: 0 auto $margin-bottom-md;
  cursor: pointer;

  @media screen and (min-width: $bp-tablet) {
    margin-bottom: $margin-lg;
  }
}

footer {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33px;
  background-color: $black;
  font-family: $font-primary;
  font-weight: $font-regular;
  font-size: $font-sm;
  line-height: $line-height-base;
  text-transform: uppercase;
  color: $white;
  text-align: center;
}

// minicart
.minicart-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $overlay-bg;
  z-index: $z-panel;

  &.open {
    display: block;
  }
}

.minicart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: $white;
  display: none;
  flex-direction: column;
  z-index: $z-overlay;
  overflow-y: auto;

  &.open {
    display: flex;
  }

  .close-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 16px;
    height: 16px;
    width: 16px;

    .close-icon {
      width: 18px;
      height: 18px;
    }
  }

  &__content {
    .minicart__title {
      padding: $padding-base;
      border-bottom: 1px solid $gray;
      font-family: $font-primary;
      font-weight: $font-regular;
      font-size: $font-xxl;
      line-height: $line-height-base;
      letter-spacing: 0%;
      text-transform: uppercase;
      color: $gray;
    }

    .minicart__items {
      padding: 24px 16px 0;

      .minicart__item {
        display: flex;
        align-items: flex-start;
        gap: $gap-sm;
        margin-bottom: $margin-md;

        .minicart__item-image {
          width: 100px;
          border-radius: $border-radius-none;
        }

        .minicart__item-name {
          font-family: $font-primary;
          font-weight: $font-regular;
          font-size: $font-sm;
          text-align: left;
          line-height: $line-height-base;
          text-transform: uppercase;
          color: $black;
          margin-top: $margin-sm;
        }

        .minicart__item-quantity {
          font-family: $font-primary;
          font-weight: $font-regular;
          font-size: $font-sm;
          text-align: left;
          line-height: $line-height-base;
          color: $black;
          margin-top: $margin-sm;
        }

        .minicart__item-price {
          font-family: $font-primary;
          font-weight: $font-bold;
          font-size: $font-sm;
          text-align: left;
          line-height: $line-height-base;
          color: $black;
          margin-top: $margin-sm;
        }
      }
    }
  }

  @media (min-width: $bp-tablet) {
    width: 400px;
  }
}
