// Colors
$gray: #666666;
$dark-gray: #333333;
$light-gray: #c7c7c7;
$orange: #fb953e;
$black: #000;
$white: #fff;
$black-50: rgba(0, 0, 0, 0.5);

// Typography
$font-primary: "Open Sans", sans-serif;

// Sizes
$header-height: 64px;
$checkbox-size: 16px;
$check-inner-size: 10px;
